<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png"/>
    <link rel="manifest" href="img/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    <link  href="css/styles.css" rel="stylesheet" type="text/css"/>
    <link  href="webjars/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Tabla de programación</title>
</head>
<body>
<div class="cont">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <img src="img/logo.png" width="100%" height="200px"/>
                </div>
            </div>
            <div class="row">
                <div class="titulo">
                    <h5>
                        Tabla de programación
                    </h5>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" style=" margin-top: 10px">
                    <div class="alert alert-danger" role="alert" th:if="${mensaje!=null}" th:text="${mensaje}">

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary" style=" margin-top: 10px;width:100%"
                                    onclick="history.back()">
                                volver
                            </button>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
    <footer>
        V1.1.0 Powered by Sipcommb © 2023
    </footer>
</div>
</body>

</html>